

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  display: block;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
#container h1{
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  font-weight: 700;
}
#container a {
  text-decoration: none;
}

.logo{
  height: 50px;
  width: 50px;
}